{% extends 'admin_base.html' %}

{% block content %}
<div>
    <div class="d-flex mt-3">
        <div class="sidebar">
            <a href="{% url 'dashboard' %}" data-section="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
            <a href="{% url 'products' %}" data-section="products"><i class="fa fa-box"></i> Products</a>
            <a href="{% url 'customers' %}" data-section="customers"><i class="fa fa-users"></i> Customers</a>
            <a href="{% url 'category' %}" data-section="categories"><i class="fa-solid fa-shoe-prints"></i> Categories</a>
            <a href="{% url 'adminorders' %}" data-section="order"><i class="fa fa-image"></i> Orders</a>
            <a href="{% url 'offer' %}" data-section="banner"><i class="fa fa-image"></i> Offers</a>
            <a href="{% url 'admin_logout' %}" data-section="logout"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
        </div>
<h1>helo</h1>
{% endblock %}
