{% extends 'base.html' %}

{% block title %}Reset Password Page{% endblock %}

{% block content %}

 <!-- Main Content -->
 <main class="flex-grow-1 d-flex align-items-center justify-content-center px-4" style="font-family: 'Inclusive Sans', sans-serif;">
    <div class="bg-white text-dark rounded mt-5 p-1 p-md-4 w-50" style="max-width: 450px;">
      <div class="d-flex justify-content-center">
        <h2 class="fs-2 fw-medium mb-2">Create an account</h2>
      </div>
      <div class="d-flex justify-content-center">
        <p class="text-muted mb-4">Enter your email to sign up for this app</p>
      </div>


      <form action="" method="POST" enctype="multipart/form-data" class="mb-3">
          {% csrf_token %}
          
          <div class="mb-3">
              <input type="password" name="password1" class="form-control bg-light" placeholder="New Password" required>
          </div>
          <div class="mb-3">
              <input type="password" name="password2" class="form-control bg-light" placeholder="Confirm Password" required>
          </div>
          <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-dark w-40">Reset Password</button>
          </div>
      </form>

      <p class="text-center small">
          Already have an account? <a href="{% url 'user_login' %}" class="text-primary fw-semibold">Login</a>
      </p>
    
     
    </div>
  </main>





{% endblock %}
